# Homework II - ME 364 (Spring 2022)

<font color='red'>__Question I :__</font> Consider the following dictionary
```python
dict = {'name':["Mason", "John", "Jean", "Sarah", "Frank", "Thomas", "Melisa", "Cindy"],
        'score':[90, 40, 80, 98, 99, 85, 56, 86],
        'degree': ["MBA", "CS", "CHEM", "MBA", "CIV", "MECH", "EE", "MBA"]}
```
__(a)__ Convert this dictionary into a _pandas_ DataFrame with the columns ordered as 'name', 'degree', 'score'.

In [2]:
# Your code goes here
import pandas as pd

dict = {'name':["Mason", "John", "Jean", "Sarah", "Frank", "Thomas", "Melisa", "Cindy"],
        'score':[90, 40, 80, 98, 99, 85, 56, 86],
        'degree': ["MBA", "CS", "CHEM", "MBA", "CIV", "MECH", "EE", "MBA"]}

df = pd.DataFrame(dict)
print(df)

     name  score degree
0   Mason     90    MBA
1    John     40     CS
2    Jean     80   CHEM
3   Sarah     98    MBA
4   Frank     99    CIV
5  Thomas     85   MECH
6  Melisa     56     EE
7   Cindy     86    MBA

__(b)__ Print the first three rows of the dataframe. Also, print the last two rows of the dataframe.

In [3]:
# Your code goes here

# First 3 rows:
print(df[:3])

# Last 2 rows:
print(df[-2:])

    name  score degree
0  Mason     90    MBA
1   John     40     CS
2   Jean     80   CHEM
     name  score degree
6  Melisa     56     EE
7   Cindy     86    MBA

__(c)__ Add the following column to the dataframe
``` 'age' : [19, 22, 20, 27, 25, 18, 20, 21] ```

In [4]:
# Your code goes here
df['age'] = [19, 22, 20, 27, 25, 18, 20, 21]
print(df)

     name  score degree  age
0   Mason     90    MBA   19
1    John     40     CS   22
2    Jean     80   CHEM   20
3   Sarah     98    MBA   27
4   Frank     99    CIV   25
5  Thomas     85   MECH   18
6  Melisa     56     EE   20
7   Cindy     86    MBA   21

__(d)__ Define a list having the column names and print the elements in the list.

In [5]:
# Your code goes here
columns = list(df.columns)
print(columns)

['name', 'score', 'degree', 'age']

__(e)__ Define a new $\underline{dataframe}$ with columns `name` and `score`

In [6]:
# Your code goes here
df2 = df[['name', 'score']].copy()
print(df2)

     name  score
0   Mason     90
1    John     40
2    Jean     80
3   Sarah     98
4   Frank     99
5  Thomas     85
6  Melisa     56
7   Cindy     86

__(f)__ Select and print a dataframe containing the first two rows and columns `name` and `degree` using both methods `loc` and `iloc`

In [7]:
# Your code goes here

# Method 1 (loc)
print(df.loc[[0,1], ['name', 'degree']])

# Method 2 (iloc)
print(df.iloc[[0,1], [0,2]])

    name degree
0  Mason    MBA
1   John     CS
    name degree
0  Mason    MBA
1   John     CS

__(g)__ Sort the dataframe such that you get the dataframe in the following order. Use an option in your command to apply the changes to the dataframe in place.

| name |	degree |	score |	age |
| ---- | ------- | ------ | --- |
| Jean 	| CHEM 	| 80 	| 20 |
| Frank |	CIV 	| 99 	| 25 |
| John 	| CS 	| 40 	| 22 |
| Melisa |	EE |	56 |	20 |
| Cindy |	MBA  |	86 |	21 |
| Mason |	MBA | 90 |	19 |
| Sarah |	MBA |	98 |	27 |
| Thomas | 	MECH |	85 |	18 |

In [8]:
# Your code goes here

# Sorting rows
df.sort_values(by=['degree', 'score'], inplace=True)

# Reordering columns
df = df[['name', 'degree', 'score', 'age']]

print(df)

     name degree  score  age
2    Jean   CHEM     80   20
4   Frank    CIV     99   25
1    John     CS     40   22
6  Melisa     EE     56   20
7   Cindy    MBA     86   21
0   Mason    MBA     90   19
3   Sarah    MBA     98   27
5  Thomas   MECH     85   18

<font color='red'>__Question II :__</font> Upload the fuel economy dataset, which comes as an excel file with this homework assignment, to a repository in the GitHub account that you created (or an account you already have). Then, import the dataset into this notebook using the link for that file from your GitHub account. This is an excel file so you might have to take some extra steps to get the link to the raw data on your GitHub account.

In [9]:
# Your code goes here
url = 'https://raw.githubusercontent.com/yairg98/Data-Driven-Problem-Solving/main/Homework%202/Copy%20of%20FuelEconomy.csv'
df3 = pd.read_csv(url)

__(a)__ Print a list of the unique Transmission types.

In [10]:
# Your code goes here
print(df3['Trans'].unique)

<bound method Series.unique of 0            AMS-8
1            AMS-8
2            AMS-7
3            AMS-7
4       SemiAuto-9
           ...
2518    SemiAuto-8
2519    SemiAuto-8
2520    SemiAuto-8
2521    SemiAuto-8
2522    SemiAuto-8
Name: Trans, Length: 2523, dtype: object>

__(b)__ Create a new dataframe with all the cars with Greenhouse Gas Score of 1. How many cars are in this dataframe ?

In [11]:
# Your code goes here
df4 = df3[df3['Greenhouse Gas Score']==1]
print(df4)

print("\nNumber of cars in dataset with Greenhouse Gas Score of 1: {}".format(len(df4)))

                                 Model  Displ   Cyl        Trans Drive  \
148                   BENTLEY Bentayga    6.0  12.0   SemiAuto-8   4WD
149                   BENTLEY Bentayga    6.0  12.0   SemiAuto-8   4WD
150                     BENTLEY Chiron    8.0  16.0        AMS-7   4WD
151                     BENTLEY Chiron    8.0  16.0        AMS-7   4WD
162                   BENTLEY Mulsanne    6.8   8.0   SemiAuto-8   2WD
163                   BENTLEY Mulsanne    6.8   8.0   SemiAuto-8   2WD
394                       BUGATTI Divo    8.0  16.0        AMS-7   4WD
395                       BUGATTI Divo    8.0  16.0        AMS-7   4WD
698              FERRARI 812 Superfast    6.5  12.0    AutoMan-7   2WD
699              FERRARI 812 Superfast    6.5  12.0    AutoMan-7   2WD
702                  FERRARI GTC4Lusso    6.3  12.0    AutoMan-7   4WD
703                  FERRARI GTC4Lusso    6.3  12.0    AutoMan-7   4WD
809                            FORD GT    3.5   6.0    AutoMan-7   2WD
810                            FORD GT    3.5   6.0    AutoMan-7   2WD
843          FORD Shelby GT500 Mustang    5.2   8.0    AutoMan-7   2WD
844          FORD Shelby GT500 Mustang    5.2   8.0    AutoMan-7   2WD
1329     JEEP Grand Cherokee Trackhawk    6.2   8.0       Auto-8   4WD
1330     JEEP Grand Cherokee Trackhawk    6.2   8.0       Auto-8   4WD
1451       LAMBORGHINI Aventador Coupe    6.5  12.0        AMS-7   4WD
1452       LAMBORGHINI Aventador Coupe    6.5  12.0        AMS-7   4WD
1453    LAMBORGHINI Aventador Roadster    6.5  12.0        AMS-7   4WD
1454    LAMBORGHINI Aventador Roadster    6.5  12.0        AMS-7   4WD
1463                  LAMBORGHINI Urus    4.0   8.0   SemiAuto-8   4WD
1464                  LAMBORGHINI Urus    4.0   8.0   SemiAuto-8   4WD
1553                      LEXUS LX 570    5.7   8.0   SemiAuto-8   4WD
1554                      LEXUS LX 570    5.7   8.0   SemiAuto-8   4WD
1763             MERCEDES-BENZ AMG G63    4.0   8.0       Auto-9   4WD
1764             MERCEDES-BENZ AMG G63    4.0   8.0       Auto-9   4WD
1837                MERCEDES-BENZ G550    4.0   8.0       Auto-9   4WD
1838                MERCEDES-BENZ G550    4.0   8.0       Auto-9   4WD
2202              ROLLS-ROYCE Cullinan    6.7  12.0   SemiAuto-8   4WD
2203              ROLLS-ROYCE Cullinan    6.7  12.0   SemiAuto-8   4WD
2204  ROLLS-ROYCE Cullinan Black Badge    6.7  12.0   SemiAuto-8   4WD
2205  ROLLS-ROYCE Cullinan Black Badge    6.7  12.0   SemiAuto-8   4WD
2206                  ROLLS-ROYCE Dawn    6.6  12.0   SemiAuto-8   2WD
2207                  ROLLS-ROYCE Dawn    6.6  12.0   SemiAuto-8   2WD
2208                 ROLLS-ROYCE Ghost    6.6  12.0   SemiAuto-8   2WD
2209                 ROLLS-ROYCE Ghost    6.6  12.0   SemiAuto-8   2WD
2210             ROLLS-ROYCE Ghost EWB    6.6  12.0   SemiAuto-8   2WD
2211             ROLLS-ROYCE Ghost EWB    6.6  12.0   SemiAuto-8   2WD
2212               ROLLS-ROYCE Phantom    6.7  12.0   SemiAuto-8   2WD
2213               ROLLS-ROYCE Phantom    6.7  12.0   SemiAuto-8   2WD
2214           ROLLS-ROYCE Phantom EWB    6.7  12.0   SemiAuto-8   2WD
2215           ROLLS-ROYCE Phantom EWB    6.7  12.0   SemiAuto-8   2WD
2216                ROLLS-ROYCE Wraith    6.6  12.0   SemiAuto-8   2WD
2217                ROLLS-ROYCE Wraith    6.6  12.0   SemiAuto-8   2WD
2218                        ROUSH F150    5.0   8.0  SemiAuto-10   2WD
2219                        ROUSH F150    5.0   8.0  SemiAuto-10   2WD
2220                        ROUSH F150    5.0   8.0  SemiAuto-10   4WD
2221                        ROUSH F150    5.0   8.0  SemiAuto-10   4WD
2224             ROUSH Stage 3 Mustang    5.0   8.0  SemiAuto-10   2WD
2225             ROUSH Stage 3 Mustang    5.0   8.0  SemiAuto-10   2WD
2384               TOYOTA Land Cruiser    5.7   8.0   SemiAuto-8   4WD
2385               TOYOTA Land Cruiser    5.7   8.0   SemiAuto-8   4WD
2412                    TOYOTA Sequoia    5.7   8.0   SemiAuto-6   4WD
2413                    TOYOTA Sequoia    5.7   8.0   SemiAuto-6   4WD
2434                     TOYOTA Tundra    5.7   8.0   SemiAuto-6   4WD
2435                     TOYOTA Tundra    5.7   8.0   SemiAuto-6   4WD

          Fuel Cert Region       Stnd            Stnd Description  \
148   Gasoline          CA  L3ULEV125  California LEV-III ULEV125
149   Gasoline          FA     T3B125      Federal Tier 3 Bin 125
150   Gasoline          CA   L3LEV160   California LEV-III LEV160
151   Gasoline          FA     T3B160      Federal Tier 3 Bin 160
162   Gasoline          CA   L3LEV160   California LEV-III LEV160
163   Gasoline          FA     T3B160      Federal Tier 3 Bin 160
394   Gasoline          CA   L3LEV160   California LEV-III LEV160
395   Gasoline          FA     T3B160      Federal Tier 3 Bin 160
698   Gasoline          CA  L3ULEV125  California LEV-III ULEV125
699   Gasoline          FA     T3B125      Federal Tier 3 Bin 125
702   Gasoline          CA  L3ULEV125  California LEV-III ULEV125
703   Gasoline          FA     T3B125      Federal Tier 3 Bin 125
809   Gasoline          CA  L3ULEV125  California LEV-III ULEV125
810   Gasoline          FA     T3B125      Federal Tier 3 Bin 125
843   Gasoline          CA  L3ULEV125  California LEV-III ULEV125
844   Gasoline          FA     T3B125      Federal Tier 3 Bin 125
1329  Gasoline          CA   L3LEV160   California LEV-III LEV160
1330  Gasoline          FA     T3B160      Federal Tier 3 Bin 160
1451  Gasoline          CA   L3LEV160   California LEV-III LEV160
1452  Gasoline          FA     T3B160      Federal Tier 3 Bin 160
1453  Gasoline          CA   L3LEV160   California LEV-III LEV160
1454  Gasoline          FA     T3B160      Federal Tier 3 Bin 160
1463  Gasoline          CA  L3ULEV125  California LEV-III ULEV125
1464  Gasoline          FA     T3B125      Federal Tier 3 Bin 125
1553  Gasoline          CA  L3ULEV125  California LEV-III ULEV125
1554  Gasoline          FA     T3B125      Federal Tier 3 Bin 125
1763  Gasoline          CA  L3ULEV125  California LEV-III ULEV125
1764  Gasoline          FA     T3B125      Federal Tier 3 Bin 125
1837  Gasoline          CA  L3ULEV125  California LEV-III ULEV125
1838  Gasoline          FA     T3B125      Federal Tier 3 Bin 125
2202  Gasoline          CA  L3ULEV125  California LEV-III ULEV125
2203  Gasoline          FA     T3B125      Federal Tier 3 Bin 125
2204  Gasoline          CA  L3ULEV125  California LEV-III ULEV125
2205  Gasoline          FA     T3B125      Federal Tier 3 Bin 125
2206  Gasoline          CA  L3ULEV125  California LEV-III ULEV125
2207  Gasoline          FA     T3B125      Federal Tier 3 Bin 125
2208  Gasoline          CA  L3ULEV125  California LEV-III ULEV125
2209  Gasoline          FA     T3B125      Federal Tier 3 Bin 125
2210  Gasoline          CA  L3ULEV125  California LEV-III ULEV125
2211  Gasoline          FA     T3B125      Federal Tier 3 Bin 125
2212  Gasoline          CA  L3ULEV125  California LEV-III ULEV125
2213  Gasoline          FA     T3B125      Federal Tier 3 Bin 125
2214  Gasoline          CA  L3ULEV125  California LEV-III ULEV125
2215  Gasoline          FA     T3B125      Federal Tier 3 Bin 125
2216  Gasoline          CA  L3ULEV125  California LEV-III ULEV125
2217  Gasoline          FA     T3B125      Federal Tier 3 Bin 125
2218  Gasoline          CA  L3ULEV125  California LEV-III ULEV125
2219  Gasoline          FA     T3B125      Federal Tier 3 Bin 125
2220  Gasoline          CA  L3ULEV125  California LEV-III ULEV125
2221  Gasoline          FA     T3B125      Federal Tier 3 Bin 125
2224  Gasoline          CA  L3ULEV125  California LEV-III ULEV125
2225  Gasoline          FA     T3B125      Federal Tier 3 Bin 125
2384  Gasoline          CA  L3ULEV125  California LEV-III ULEV125
2385  Gasoline          FA     T3B125      Federal Tier 3 Bin 125
2412  Gasoline          CA   L3ULEV70   California LEV-III ULEV70
2413  Gasoline          FA      T3B70       Federal Tier 3 Bin 70
2434  Gasoline          CA   L3ULEV70   California LEV-III ULEV70
2435  Gasoline          FA      T3B70       Federal Tier 3 Bin 70

      Underhood ID      Veh Class  Air Pollution Score City MPG Hwy MPG  \
148   LVGAT06.0EAR   standard SUV                    3       12      17
149   LVGAT06.0EAR   standard SUV                    3       12      17
150   LVGAV08.0GLB      small car                    1        9      14
151   LVGAV08.0GLB      small car                    1        9      14
162   LVGAV06.8EDP    midsize car                    1       10      16
163   LVGAV06.8EDP    midsize car                    1       10      16
394   LVGAV08.0GLB      small car                    1        9      13
395   LVGAV08.0GLB      small car                    1        9      13
698   LFEXV06.5GDI      small car                    3       12      16
699   LFEXV06.5GDI      small car                    3       12      16
702   LFEXV06.5GDI      small car                    3       12      17
703   LFEXV06.5GDI      small car                    3       12      17
809   LFMXV03.5VGT      small car                    3       12      18
810   LFMXV03.5VGT      small car                    3       12      18
843   LFMXV05.2VEZ      small car                    3       12      18
844   LFMXV05.2VEZ      small car                    3       12      18
1329  LCRXT06.25P1   standard SUV                    1       11      17
1330  LCRXT06.25P1   standard SUV                    1       11      17
1451  LVGAV06.5LDR      small car                    1        9      15
1452  LVGAV06.5LDR      small car                    1        9      15
1453  LVGAV06.5LDR      small car                    1        9      15
1454  LVGAV06.5LDR      small car                    1        9      15
1463  LVGAT04.0PAA   standard SUV                    3       12      17
1464  LVGAT04.0PAA   standard SUV                    3       12      17
1553  LTYXT05.7K6Y   standard SUV                    3       12      16
1554  LTYXT05.7K6Y   standard SUV                    3       12      16
1763  LMBXT04.0U2B   standard SUV                    3       13      15
1764  LMBXT04.0U2B   standard SUV                    3       13      15
1837  LMBXT04.0U2A   standard SUV                    3       13      17
1838  LMBXT04.0U2A   standard SUV                    3       13      17
2202  LRRGV06.7N74  station wagon                    3       12      20
2203  LRRGV06.7N74  station wagon                    3       12      20
2204  LRRGV06.7N74  station wagon                    3       12      20
2205  LRRGV06.7N74  station wagon                    3       12      20
2206  LRRGV06.6N74      small car                    3       12      18
2207  LRRGV06.6N74      small car                    3       12      18
2208  LRRGV06.6N74      large car                    3       12      18
2209  LRRGV06.6N74      large car                    3       12      18
2210  LRRGV06.6N74      large car                    3       12      18
2211  LRRGV06.6N74      large car                    3       12      18
2212  LRRGV06.7N74      large car                    3       12      20
2213  LRRGV06.7N74      large car                    3       12      20
2214  LRRGV06.7N74      large car                    3       12      20
2215  LRRGV06.7N74      large car                    3       12      20
2216  LRRGV06.6N74    midsize car                    3       12      18
2217  LRRGV06.6N74    midsize car                    3       12      18
2218  LRIIT05.03DP         pickup                    3       11      15
2219  LRIIT05.03DP         pickup                    3       11      15
2220  LRIIT05.03DP         pickup                    3       11      15
2221  LRIIT05.03DP         pickup                    3       11      15
2224  LRIIV05.0VKN      small car                    3       12      18
2225  LRIIV05.0VKN      small car                    3       12      18
2384  LTYXT05.7K6Y   standard SUV                    3       13      17
2385  LTYXT05.7K6Y   standard SUV                    3       13      17
2412  LTYXT05.7M5W   standard SUV                    5       13      17
2413  LTYXT05.7M5W   standard SUV                    5       13      17
2434  LTYXT05.7M5W         pickup                    5       13      17
2435  LTYXT05.7M5W         pickup                    5       13      17

     Cmb MPG  Greenhouse Gas Score SmartWay Comb CO2
148       14                     1       No      645
149       14                     1       No      645
150       11                     1       No      840
151       11                     1       No      840
162       12                     1       No      749
163       12                     1       No      749
394       10                     1       No      864
395       10                     1       No      864
698       13                     1       No      661
699       13                     1       No      661
702       13                     1       No      661
703       13                     1       No      661
809       14                     1       No      632
810       14                     1       No      632
843       14                     1       No      631
844       14                     1       No      631
1329      13                     1       No      664
1330      13                     1       No      664
1451      11                     1       No      787
1452      11                     1       No      787
1453      11                     1       No      806
1454      11                     1       No      806
1463      14                     1       No      617
1464      14                     1       No      617
1553      14                     1       No      636
1554      14                     1       No      636
1763      14                     1       No      637
1764      14                     1       No      637
1837      14                     1       No      609
1838      14                     1       No      609
2202      14                     1       No      619
2203      14                     1       No      619
2204      14                     1       No      619
2205      14                     1       No      619
2206      14                     1       No      637
2207      14                     1       No      637
2208      14                     1       No      637
2209      14                     1       No      637
2210      14                     1       No      637
2211      14                     1       No      637
2212      14                     1       No      615
2213      14                     1       No      615
2214      14                     1       No      615
2215      14                     1       No      615
2216      14                     1       No      624
2217      14                     1       No      624
2218      13                     1       No      689
2219      13                     1       No      689
2220      13                     1       No      689
2221      13                     1       No      689
2224      14                     1       No      618
2225      14                     1       No      618
2384      14                     1       No      618
2385      14                     1       No      618
2412      14                     1       No      618
2413      14                     1       No      618
2434      14                     1       No      614
2435      14                     1       No      614

Number of cars in dataset with Greenhouse Gas Score of 1: 58

__(c)__ Use the method `where` to replace the values of `small car` under the column `Veh Class` with `Small Car`.

In [12]:
# Your code goes here
df3['Veh Class'].where(df3['Veh Class']!='small car', other='Small Car', inplace=True)
print(df3)

           Model  Displ  Cyl       Trans Drive                  Fuel  \
0      ACURA ILX    2.4  4.0       AMS-8   2WD              Gasoline
1      ACURA ILX    2.4  4.0       AMS-8   2WD              Gasoline
2      ACURA MDX    3.0  6.0       AMS-7   4WD              Gasoline
3      ACURA MDX    3.0  6.0       AMS-7   4WD              Gasoline
4      ACURA MDX    3.5  6.0  SemiAuto-9   2WD              Gasoline
...          ...    ...  ...         ...   ...                   ...
2518  VOLVO XC90    2.0  4.0  SemiAuto-8   4WD              Gasoline
2519  VOLVO XC90    2.0  4.0  SemiAuto-8   4WD              Gasoline
2520  VOLVO XC90    2.0  4.0  SemiAuto-8   4WD              Gasoline
2521  VOLVO XC90    2.0  4.0  SemiAuto-8   4WD  Gasoline/Electricity
2522  VOLVO XC90    2.0  4.0  SemiAuto-8   4WD  Gasoline/Electricity

     Cert Region       Stnd            Stnd Description  Underhood ID  \
0             CA  L3ULEV125  California LEV-III ULEV125  LHNXV02.4KH3
1             FA     T3B125      Federal Tier 3 Bin 125  LHNXV02.4KH3
2             CA  L3ULEV125  California LEV-III ULEV125  LHNXV03.0ABC
3             FA     T3B125      Federal Tier 3 Bin 125  LHNXV03.0ABC
4             CA  L3ULEV125  California LEV-III ULEV125  LHNXV03.5PBM
...          ...        ...                         ...           ...
2518          FA      T3B30       Federal Tier 3 Bin 30  LVVXJ02.0S30
2519          CA   L3ULEV70   California LEV-III ULEV70  LVVXJ02.0U70
2520          FA      T3B70       Federal Tier 3 Bin 70  LVVXJ02.0U70
2521          CA  L3SULEV30  California LEV-III SULEV30  LVVXJ02.0P30
2522          FA      T3B30       Federal Tier 3 Bin 30  LVVXJ02.0P30

         Veh Class  Air Pollution Score City MPG Hwy MPG Cmb MPG  \
0        Small Car                    3       24      34      28
1        Small Car                    3       24      34      28
2        small SUV                    3       26      27      27
3        small SUV                    3       26      27      27
4        small SUV                    3       20      27      23
...            ...                  ...      ...     ...     ...
2518  standard SUV                    7       18      26      21
2519  standard SUV                    5       20      27      23
2520  standard SUV                    5       20      27      23
2521  standard SUV                    7    26/58   28/52   27/55
2522  standard SUV                    7    26/58   28/52   27/55

      Greenhouse Gas Score SmartWay Comb CO2
0                        6       No      316
1                        6       No      316
2                        6       No      333
3                        6       No      333
4                        5       No      387
...                    ...      ...      ...
2518                     4       No      429
2519                     5       No      387
2520                     5       No      387
2521                    10    Elite      193
2522                    10    Elite      193

[2523 rows x 18 columns]

__(d)__ What is the average value of Greenhouse Gas Score for the cars in this dataset? What is the average Greenhous Gas Score for the cars with 4 cylinders.

In [13]:
# Your code goes here

# Mean Greenhouse Gas Score for all cars
print(df3['Greenhouse Gas Score'].mean())

# Mean Greenhouse Gas Score for cars with 4 cylinders
print(df3[df3['Cyl']==4.0]['Greenhouse Gas Score'].mean())

4.911216805390408
5.977598566308243

<font color='red'>__Question III :__</font> There are two csv files attached to this homework assignment, file1.csv and file2.csv. Either import them directly (from your computer) or upload them on your GitHub account and use the links to import them as two separate dataframes. Name the dataframe created from file1 `df1` and the dataframe created from file2 `df2`.

In [15]:
# Your code goes here
file1 = 'https://raw.githubusercontent.com/yairg98/Data-Driven-Problem-Solving/main/Homework%202/file1.csv'
file2 = 'https://raw.githubusercontent.com/yairg98/Data-Driven-Problem-Solving/main/Homework%202/file2.csv'

df1 = pd.read_csv(file1)
df2 = pd.read_csv(file2)

print(df1)
print(df2)

        ID  Cord (m)  SSD_Thickness (m)
0      290    0.2286           0.003724
1      773    0.0508           0.000812
2     1201    0.0254           0.017663
3     1181    0.0254           0.017221
4     1044    0.0254           0.000907
...    ...       ...                ...
1195  1020    0.0254           0.000873
1196   410    0.2286           0.011171
1197   644    0.1524           0.019300
1198   750    0.0508           0.000762
1199  1482    0.1016           0.043726

[1200 rows x 3 columns]
      ID  Frequency (Hz)  Attack_Angle (deg)  FS_Velocity (m/s)
0    257            8000                 2.0               71.3
1    580            4000                 5.4               39.6
2    150            1600                 3.0               31.7
3    117            1000                 3.0               55.5
4    934            6300                15.4               31.7
..   ...             ...                 ...                ...
898  912            1600                15.4               39.6
899   39            1600                 0.0               39.6
900  502            1000                 0.0               31.7
901  204             500                 0.0               55.5
902  534            2500                 2.7               39.6

[903 rows x 4 columns]

__(a)__ Combine these two dataframes using the `ID` column such that all the rows from both dataframes are in the combined dataframe.

In [16]:
# Your code goes here
df3 = pd.merge(df1, df2, on='ID', how='outer')
print(df3)

        ID  Cord (m)  SSD_Thickness (m)  Frequency (Hz)  Attack_Angle (deg)  \
0      290    0.2286           0.003724             NaN                 NaN
1      773    0.0508           0.000812             NaN                 NaN
2     1201    0.0254           0.017663             NaN                 NaN
3     1181    0.0254           0.017221             NaN                 NaN
4     1044    0.0254           0.000907             NaN                 NaN
...    ...       ...                ...             ...                 ...
1498   912       NaN                NaN          1600.0                15.4
1499    39       NaN                NaN          1600.0                 0.0
1500   502       NaN                NaN          1000.0                 0.0
1501   204       NaN                NaN           500.0                 0.0
1502   534       NaN                NaN          2500.0                 2.7

      FS_Velocity (m/s)
0                   NaN
1                   NaN
2                   NaN
3                   NaN
4                   NaN
...                 ...
1498               39.6
1499               39.6
1500               31.7
1501               55.5
1502               39.6

[1503 rows x 6 columns]

__(b)__ Combine these two dataframes using the `ID` column such that all the rows from `df1` and the rows that are common between `df1` and `df2` are in the combined dataframe.

In [17]:
# Your code goes here
df4 = pd.merge(df1, df2, on='ID', how='left')
print(df4)

        ID  Cord (m)  SSD_Thickness (m)  Frequency (Hz)  Attack_Angle (deg)  \
0      290    0.2286           0.003724             NaN                 NaN
1      773    0.0508           0.000812             NaN                 NaN
2     1201    0.0254           0.017663             NaN                 NaN
3     1181    0.0254           0.017221             NaN                 NaN
4     1044    0.0254           0.000907             NaN                 NaN
...    ...       ...                ...             ...                 ...
1195  1020    0.0254           0.000873          2000.0                 4.8
1196   410    0.2286           0.011171           400.0                 7.3
1197   644    0.1524           0.019300          5000.0                 9.9
1198   750    0.0508           0.000762         10000.0                 0.0
1199  1482    0.1016           0.043726          1250.0                15.6

      FS_Velocity (m/s)
0                   NaN
1                   NaN
2                   NaN
3                   NaN
4                   NaN
...                 ...
1195               55.5
1196               55.5
1197               71.3
1198               55.5
1199               71.3

[1200 rows x 6 columns]

__(c)__ Combine these two dataframes using the `ID` column such that the combined dataframe includes only the rows that are common between two dataframes.

In [18]:
# Your code goes here
df3 = pd.merge(df1, df2, on='ID', how='inner')
print(df3)

       ID  Cord (m)  SSD_Thickness (m)  Frequency (Hz)  Attack_Angle (deg)  \
0     257    0.2286           0.002930            8000                 2.0
1     580    0.1524           0.004850            4000                 5.4
2     150    0.3048           0.005295            1600                 3.0
3     117    0.3048           0.004525            1000                 3.0
4     934    0.0508           0.028985            6300                15.4
..    ...       ...                ...             ...                 ...
595  1020    0.0254           0.000873            2000                 4.8
596   410    0.2286           0.011171             400                 7.3
597   644    0.1524           0.019300            5000                 9.9
598   750    0.0508           0.000762           10000                 0.0
599  1482    0.1016           0.043726            1250                15.6

     FS_Velocity (m/s)
0                 71.3
1                 39.6
2                 31.7
3                 55.5
4                 31.7
..                 ...
595               55.5
596               55.5
597               71.3
598               55.5
599               71.3

[600 rows x 6 columns]